<ion-view hide-back-button="true" title="{{activeTab}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-only tabs-top">
        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Feed')"
                 icon-on="ion-ios7-paper"
                 icon-off="ion-ios7-paper-outline">

            <ion-content style="background-color: #dddddd;">
                <div class="list card" ng-repeat="qs in questions">
                    <div class="item">
                        <h2>{{qs.user.name}}</h2>
                    </div>

                    <div class="item item-body">
                        <p>
                            {{qs.data}}
                        </p>
                        <p>
                            <a href="#" class="subdued">5 Comments</a>
                        </p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" href="#">
                            <i class="icon ion-chatbox"></i>
                            Comment
                        </a>
                        <a class="tab-item" href="#">
                            <i class="icon ion-share"></i>
                            Share
                        </a>
                    </div>

                </div>
            </ion-content>

         </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Votes')"
                 icon-on="ion-ios7-checkmark"
                 icon-off="ion-ios7-checkmark-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Opinions')"
                 icon-on="ion-ios7-box"
                 icon-off="ion-ios7-box-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('Following')"
                 icon-on="ion-ios7-people"
                 icon-off="ion-ios7-people-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('Notifications')"
                 icon-on="ion-ios7-world"
                 icon-off="ion-ios7-world-outline">


        </ion-tab>

    </ion-tabs>

</ion-view>
