<ion-view hide-back-button="true" title="{{activeTab}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-tabs class="tabs-icon-only tabs-top">
        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Feed')"
                 icon-on="ion-ios7-paper"
                 icon-off="ion-ios7-paper-outline">

            <ion-content style="background-color: #dddddd;">
                <div class="list card" ng-repeat="qs in questions">
                    <div class="item">
                        <h2 class="title">{{qs.user.name}}</h2>
                    </div>

                    <div class="item item-body">
                        <h1 class="title">{{qs.data}}</h1>
                    </div>

                    <div class="item" ng-show="qs.toAnswer">
                        <button class="button button-block" ng-click="vote(qs, qs.answer1)" ng-show="qs.hasAnswer1">{{qs.answer1.text}}</button>
                        <button class="button button-block" ng-click="vote(qs, qs.answer2)" ng-show="qs.hasAnswer2">{{qs.answer2.text}}</button>
                        <button class="button button-block" ng-click="vote(qs, qs.answer3)" ng-show="qs.hasAnswer3">{{qs.answer3.text}}</button>
                        <button class="button button-block" ng-click="vote(qs, qs.answer4)" ng-show="qs.hasAnswer4">{{qs.answer4.text}}</button>
                        <button class="button button-block" ng-click="vote(qs, qs.answer5)" ng-show="qs.hasAnswer5">{{qs.answer5.text}}</button>
                    </div>

                </div>
            </ion-content>

         </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Votes')"
                 icon-on="ion-ios7-checkmark"
                 icon-off="ion-ios7-checkmark-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('My Opinions')"
                 icon-on="ion-ios7-box"
                 icon-off="ion-ios7-box-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('Following')"
                 icon-on="ion-ios7-people"
                 icon-off="ion-ios7-people-outline">


        </ion-tab>

        <ion-tab title="{{activeTab}}"
                 on-select="onTabSelected('Notifications')"
                 icon-on="ion-ios7-world"
                 icon-off="ion-ios7-world-outline">


        </ion-tab>

    </ion-tabs>

</ion-view>
