<ion-view title="Project41" hide-back-button="true"  hide-nav-bar="false">

    <ion-content has-header="true" padding="true">


        <div class="list list-inset">

            <div class="item item-image" style="border-width: 0px;">
                <img src="img/odiyan.png" height="64" width="64" style="height:64px;width: 64px;">
            </div>
            <div class="item" style="border-width: 0px;">
                <h1 style="text-align: center;">odiyan</h1>
            </div>

            <form name="loginForm" ng-submit="login(user)">
                <label class="item item-input">
                    <div style="width:5px;height:34px;background-color:#ef4e3a;" ng-show="loginForm.email.$invalid"></div>&nbsp;
                    <input type="email" placeholder="someone@example.com" ng-model="user.email" required name="email">
                </label>
                <label class="item item-input">
                    <div style="width:5px;height:34px;background-color:#ef4e3a;" ng-show="loginForm.password.$invalid"></div>&nbsp;
                    <input type="password" placeholder="Password" ng-model="user.password" required name="password">
                </label>

                <div class="padding">
                    <button type="submit" class="button button-dark button-block button-primary">Login</button>
                </div>
            </form>
            <br/>

            <div class="padding">
                <button nav-clear class="button button-block button-positive" ng-click="facebookLogin()">
                    <i class="icon ion-social-facebook"></i>
                    &nbsp;Login with Facebook
                </button>
            </div>

            <div class="padding">
                <button class="button button-assertive button-block" ng-click="signUp()">SignUp with Email</button>
            </div>
        </div>

    </ion-content>

</ion-view>