<ion-view hide-back-button="true" title="Question Type">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Choose a question type
            </div>
            <a class="item" href="#/app/multiple-question" ng-click="typeChanged('multiple')">
                <h2>Multiple Choice</h2>
                <p>Up to 5 answers</p>
            </a>
            <a class="item">
                <h2>Image</h2>
                <p>Up to 3 images</p>
            </a>
        </div>
    </ion-content>

</ion-view>