<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/home.controllers.js"></script>
</head>

<body ng-app="project41">

    <ion-nav-view>

    </ion-nav-view>

    <script id="signUp.html" type="text/ng-template">
        <div class="modal">
            <ion-header-bar class="bar-dark">
                <h1 class="title">SignUp</h1>
                <div class="buttons">
                    <button class="button button-clear" ng-click="closeSignUp()">Cancel</button>
                </div>
            </ion-header-bar>
            <ion-content>
                <form name="signUpForm" ng-submit="createUser(user)">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <span class="input-label">Display Name</span>
                            <div style="width:5px;height:34px;background-color:#ef4e3a;" ng-show="signUpForm.name.$invalid"></div>&nbsp;
                            <input type="text" placeholder="Display Name" ng-model="newUser.name" required name="name">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Email</span>
                            <div style="width:5px;height:34px;background-color:#ef4e3a;" ng-show="signUpForm.email.$invalid"></div>&nbsp;
                            <input type="email" placeholder="someone@example.com" ng-model="newUser.email" required name="email">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Password</span>
                            <div style="width:5px;height:34px;background-color:#ef4e3a;" ng-show="signUpForm.password.$invalid"></div>&nbsp;
                            <input type="password" placeholder="password" ng-model="newUser.password" required name="password">
                        </label>

                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-positive button-block button-primary">Create</button>
                    </div>
                </form>
            </ion-content>
        </div>
    </script>
</body>
</html>
